---
// LAYOUT
import Layout from '@/layouts/Layout.astro';
// SIDEBAR
import Sidebar from '@/components/sidebar/Sidebar.astro';
// FOOTER
import Footer from "@/components/footer/Footer.astro"
// SECTIONS
import Projects from '@/sections/Projects.astro';
import About from '@/sections/About.astro';
import Contact from '@/sections/Contact.astro';
---

<Layout title="Marcos Alvarez">
	<Sidebar />
	<main class="lg:pl-72 mx-4">
		<!-- <Hero /> -->
		<Projects />
		<About />
		<Contact />
		<!-- <Footer /> -->
	</main>
	
</Layout>

<style>
	main {
		position: relative;
	}
</style>