---
import Layout from '../layouts/Layout.astro';
import Hero from 'src/sections/Hero.astro';
import Sidebar from 'src/components/sidebar/Sidebar.astro';
---

<Layout title="Marcos Alvarez">
	<Sidebar />
	<main class="pl-72 pt-10">
		<Hero />
	</main>
</Layout>


	