---
// LAYOUT
import Layout from '@/layouts/Layout.astro';
// SIDEBAR
import Sidebar from '@/components/sidebar/Sidebar.astro';
// FOOTER
import Footer from "@/components/footer/Footer.astro"
// SECTIONS
import Projects from '@/sections/Projects.astro';
import About from '@/sections/About.astro';
import Contact from '@/sections/Contact.astro';
---

<Layout title="Marcos Alvarez">
	<Sidebar />
	<main class="lg:pl-60 md:max-w-[40rem] lg:max-w-[62.5rem] lg:mx-auto md:mx-auto mx-4 relative">
		<Projects />
		<About />
		<Contact />
		<!-- <Footer />  -->
	</main>
	<div class="cursor"></div>
</Layout>

<style>
	main {
		position: relative;
	}

	h1 {
		font-size: 10rem;
		color: black;
		text-align: center;
		-webkit-text-fill-color: #1a1a1a;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #ffffff;
	}
</style>

