---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Formulario enviado correctamente">
  <section class="flex justify-center items-center h-screen gap-4">
    <h1 class="text-4xl uppercase">¡Gracias por tu mensaje!</h1>
    <p class="text-xl">Aprecio mucho que te hayas tomado el tiempo de contactarme. Pronto recibirás una respuesta personalizada.</p>
    <a href="/https://marcos-alvarez.netlify.app/" class="px-4 py-2 mt-4 btn uppercase">Volver al inicio</a>
  </section>
</Layout>

<style>
  section {
    color: var(--color-general);
  }

  a:hover {
  background-color: var(--background-hover-btn);
  color: var(--color-hover-btn);
}
</style>