<header class="fixed left-0 hidden xl:flex justify-center h-full w-auto italic z-10 border-r">
  <nav class="p-4 flex flex-col justify-between items-center">
   <!-- LOGO AND TEXT -->
    <div>
      <h1 class="text-3xl">Marcos Alvarez</h1>
    <p class="font-medium">Full-Stack Developer</p>
      <!-- CHANGE THEME -->
   <div class="mt-8 text-center border-general rounded w-max mx-auto">
    <i id="btnTheme" class='bx bx-moon dark-mode p-4 cursor-pointer' aria-label="Activar modo oscuro"></i>
    <i id="btnTheme" class='bx bx-sun light-mode p-4 cursor-pointer' aria-label="Activar modo blanco"></i>
   </div>     
    </div>
  
   <!-- NAVIGATION -->  
    <ul class="flex flex-col justify-center font-semibold">   
       <a href="#" class="flex items-center py-4">
        <span class="w-6 h-0.5 transition-all duration-100"></span>
          <li class="ml-4 opacity-40 tracking-widest">PROYECTOS</li>
       </a>
       <a href="#about" class="flex items-center py-4">
        <span class="w-6 h-0.5 transition-all duration-100"></span>
          <li class="ml-4 opacity-40 tracking-widest">SOBRE MI</li>
       </a>
       <a href="#contact" class="flex items-center py-4">
        <span class="w-6 h-0.5 transition-all duration-100"></span>
          <li class="ml-4 opacity-40 tracking-widest">CONTACTO</li>
       </a>
    </ul>
    <!-- SOCIAL -->
    <ul class="flex text-2xl">
      <a href="#" class="social">
        <li class="cursor-pointer p-4">
          <i class='bx bxl-github opacity-60'></i>
        </li>
      </a>
      <a href="#" class="social">
        <li class="cursor-pointer p-4">
          <i class='bx bxl-linkedin-square opacity-60'></i>
        </li>
      </a>
      <a href="#" class="social">
        <li class="cursor-pointer p-4">
          <i class='bx bxl-gmail opacity-60'></i>
        </li>
      </a>
    </ul>
  </nav>
</header>

<script>
  	const darkBtnMode = document.querySelector(".dark-mode");
			const lightBtnMode = document.querySelector(".light-mode");
			
			darkBtnMode?.addEventListener("click", setLightMode)
			lightBtnMode?.addEventListener("click", setDarkMode)
		
			function setDarkMode() {
				setUserTheme("dark");
			}
		
			function setLightMode() {
				setUserTheme("light")
		}
		
    // LOCALSTORAGE THEME
    const userTheme = localStorage.getItem("theme")
    const darkQuery = window.matchMedia("(prefers-color-theme): light")
    
    if (userTheme === "light" || (!userTheme && darkQuery.matches)) {
      setTheme("light")
    }
    
    darkQuery.addEventListener("change", function (e) {
      if (!localStorage.getItem("theme"))
      setTheme(e.matches ? "light" : "dark")
    })
    
    function setTheme(newTheme: any) {
      document.documentElement.setAttribute("data-theme", newTheme)
    }
    
		function setUserTheme(newTheme: any) {
      document.documentElement.setAttribute("data-theme", newTheme)
      localStorage.setItem("theme", newTheme)
		}
</script>

<style>
  /* BTNS CHANGE THEME */
  .bx-moon:hover, .bx-sun:hover {
    color: var(--color-primary);
  }
  /* LINKS */
  span {
    background-color: var(--color-primary);
    opacity: .4;
  }

  a:hover span {
    width: 4rem;
    background-color: var(--color-primary);
    opacity: 1;
  }

  a:hover li {
    color: var(--color-primary);
    opacity: 1;
  }

  a.active li {
    color: var(--color-primary);
    opacity: 1;
  }

  a.active span {
    width: 4rem;
    background-color: var(--color-primary);
    opacity: 1;
  }

  /* SOCIAL */
  .social:hover i {
    color: var(--color-primary);
    opacity: 1;
  }

  .social:hover li {
    transform: translate(0, -1rem);
    transition: all 100ms cubic-bezier(0.4,0,0.2,1);
  }
</style>