<header aria-labelledby="menuIcon" class="boxShadow fixed z-50 w-full lg:h-full lg:w-56 flex lg:flex-col justify-between items-center boxShadow">
  <!-- BTN RESPONSIVE -->
  <div class="flex justify-center items-center text-2xl gap-x-8 lg:hidden">
    <button id="menuOpenIcon"><i class="bx bx-menu"></i></button>
    <button class="dark-mode cursor-pointer" aria-label="Activar modo oscuro"><i class='bx bx-moon'></i></button>
    <button class="light-mode cursor-pointer" aria-label="Activar modo blanco"><i class='bx bx-sun'></i></button>
  </div>
 <!-- LOGO -->
  <h1 class="lg:hidden">Marcos Alvarez</h1>
  <nav id="menuReponsive" class="flex flex-col justify-between items-center lg:w-full h-full">
    <div class="flex justify-between items-center borderDiv pb-4">
      <div>
        <h1 aria-labelledby="Marcos" class="text-2xl italic">Marcos Alvarez</h1>
        <h4 class="text-sm font-medium">Full-Stack Developer</h4>
      </div>
      <!-- BTN RESPONSIVE OPEN MENU -->
      <button class="lg:hidden text-3xl" aria-labelledby="Cerrar Menu" id="closeMenuIcon"><i class="bx bx-x"></i></button>
    </div>
  <!-- LINKS PAGE -->
    <ul class="h-full text-xl flex flex-col justify-center text-center lg:w-full lg:h-auto">  
      <li class="">
        <a href="#" class="link active">
          <span class="bar hidden lg:block"></span>
          <span class="opacity-50 tracking-widest">Proyectos</span>
        </a>
      </li>
      <li>
      <a href="#about" class="link borderLink">
        <span class="bar hidden lg:block"></span>
        <span class="opacity-50 tracking-widest">Sobre Mi</span>
        </a>
      </li>
      <li>
        <a href="#contact" class="link">
          <span class="bar hidden lg:block"></span>
          <span class="opacity-50 tracking-widest">Contacto</span>
        </a>
      </li>
    </ul>
<!-- BTNS THEME MODE -->
    <div class="hidden lg:flex justify-center items-center text-2xl">
      <button class="dark-mode cursor-pointer" aria-label="Activar modo oscuro"><i class='bx bx-moon'></i></button>
      <button class="light-mode cursor-pointer" aria-label="Activar modo blanco"><i class='bx bx-sun'></i></button>
    </div>
<!-- SOCIAL LINKS -->
    <ul class="text-2xl flex justify-center items-center lg:mb-0 mb-2 lg:pt-0 pt-4 boderSocial">
      <a href="#" class="p-4 social opacity-80"><i class='bx bxl-github'></i></a>
      <a href="#" class="p-4 social opacity-80"><i class='bx bxl-linkedin-square'></i></i></a>
      <a href="#" class="p-4 social opacity-80"><i class='bx bxl-gmail'></i></a>
    </ul>
  </nav>
</header>

<script>
// VARIABLES DEL MENU RESPONSIVE
const menuOpenIcon = document.getElementById('menuOpenIcon');
const closeMenuIcon = document.getElementById('closeMenuIcon');
const menuReponsive = document.getElementById('menuReponsive');

// ABRIR EL MENÚ RESPONSIVE
menuOpenIcon?.addEventListener('click', () => {
  menuReponsive?.classList.add('menuOpen');
});

// CERRAR EL MENÚ RESPONSIVE
closeMenuIcon?.addEventListener('click', () => {
  menuReponsive?.classList.remove('menuOpen');
});

// VARIABLES THEME CHANGES
const darkBtnMode = document.querySelectorAll(".dark-mode");
const lightBtnMode = document.querySelectorAll(".light-mode");
			
darkBtnMode.forEach((e : any) => {
  e.addEventListener("click", setLightMode)
})

lightBtnMode.forEach((e : any) => {
  e.addEventListener("click", setDarkMode)
})
		
function setDarkMode() {
	setUserTheme("dark");
}
		
function setLightMode() {
	setUserTheme("light")
}
		
// LOCALSTORAGE THEME
const userTheme = localStorage.getItem("theme")
const lightQuery = window.matchMedia("(prefers-color-theme): light")
    
if (userTheme === "light" || (!userTheme && lightQuery.matches)) {
  setTheme("light")
}
    
lightQuery.addEventListener("change", function (e) {
  if (!localStorage.getItem("theme"))
  setTheme(e.matches ? "light" : "dark")
  }
)
    
function setTheme(newTheme: any) {
  document.documentElement.setAttribute("data-theme", newTheme)
}
    
function setUserTheme(newTheme: any) {
  document.documentElement.setAttribute("data-theme", newTheme)
  localStorage.setItem("theme", newTheme)
}
</script>

<style>
/* GENERAL */
header {
  background: var(--bg-primary);
  padding: 1rem;
  transition: background .2s ease;
}

h4 {
  opacity: .3;
}

button {
  background: var(--bg-btn-theme-mode);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: color .2s ease;
}

button:hover {
  color: var(--color-primary);
}
/* BOX SHADOW HEADER */
.boxShadow {
  box-shadow: 0 .3rem 1.5rem var(--bg-gray);
  transition: all .2s ease;
}

/* LINKS */
.link {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  font-style: italic;
  font-weight: 500;
}

.bar {
  height: .1rem;
  width: 2rem;
  margin-right: 1rem;
  background-color: var(--color-primary);
  opacity: .4;
  transition: width .2s ease;
}

.link:hover .bar {
  width: 4rem;
  opacity: 1;
}
/* LINK HOVER */
.link:hover span {
  opacity: 1;
}

.link:hover {
  color: var(--color-primary);
  opacity: 1;
}
/* ACTIVE LINK */
.active {
  color: var(--color-primary);
  opacity: 1;
}

.active span {
  color: var(--color-primary);
  opacity: 1;
}

.link.active .bar {
  width: 4rem;
  background-color: var(--color-primary);
  opacity: 1;
}
/* SOCIAL */
.social i {
  transition: all .2s ease;
}
/* SOCIAL HOVER */
.social:hover i {
  color: var(--color-primary);
  opacity: 1;
}

.social:hover i {
  transform: translate(0, -1rem);
  transition: all 100ms cubic-bezier(0.4,0,0.2,1);
}
/* MEDIA QUERY */
@media (width < 1024px) {
  nav {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  visibility: hidden;
  transition: all .2s ease;
  padding: 1rem;
  overflow-y: auto;
  }
  /* BORDER RESPONSIVE */
  nav .borderDiv {
    border-bottom: 1px solid var(--color-primary);
    }

  nav .boderSocial {
    border-top: 1px solid var(--color-primary);
    }

  .link {
    display: block;
    padding: 2rem 0;
  }

  .borderLink {
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    } 
  /* HOVER RESPONSIVE */
  .link:hover {
      background-color: var(--bg-gray);
      opacity: 1;
    }
  /* ABRIR MENU RESPONSIVE */
  .menuOpen {
    transform: translateX(0);
    visibility: visible;
    }
}

</style>