<header aria-labelledby="menuIcon" class="boxShadow fixed z-50 w-full lg:h-full lg:w-56 flex lg:flex-col justify-between items-center">
  <!-- RESPONSIVE -->
   <!-- LEFT MOBILE -->
  <div class="flex justify-center items-center text-2xl gap-x-4 lg:hidden">
    <button id="menuOpenIcon" aria-label="Abrir menu"><i class="bx bx-menu"></i></button>
    <button class="dark-mode cursor-pointer" aria-label="Activar modo oscuro"><i class='bx bx-moon'></i></button>
    <button class="light-mode cursor-pointer" aria-label="Activar modo blanco"><i class='bx bx-sun'></i></button>
  </div>
 <!-- RIGHT MOBILE -->
  <div class="lg:hidden flex justify-center items-center gap-x-2">
    <a href="/CV MARCOS ALVAREZ MEDERO.pdf" class="btn px-4 py-2 rounded-md">Resumen</a>
    <a href="https://marcos-alvarez.netlify.app/" class="text-3xl font-bold logo">M</a>
  </div>
  <nav id="menuReponsive" class="flex flex-col justify-between items-center lg:w-full h-full">
    <div class="flex lg:flex-col lg:gap-y-8 justify-between items-center borderDiv pb-4">
      <div>
        <a href="/"><h1 aria-labelledby="Marcos" class="text-2xl italic">Marcos Alvarez</h1></a>
        <h4 class="text-sm font-medium">Full-Stack Developer</h4>
      </div>
      <!-- BTN RESPONSIVE OPEN MENU -->
      <button class="lg:hidden text-3xl" aria-labelledby="Cerrar Menu" id="closeMenuIcon"><i class="bx bx-x"></i></button>
      <!-- BTNS THEME MODE -->
    <div class="hidden lg:flex justify-center items-center text-2xl">
      <button class="dark-mode cursor-pointer" aria-label="Activar modo oscuro"><i class='bx bx-moon'></i></button>
      <button class="light-mode cursor-pointer" aria-label="Activar modo blanco"><i class='bx bx-sun'></i></button>
    </div>
    </div>
  <!-- LINKS PAGE -->
    <ul class="h-full text-lg flex flex-col justify-center text-center lg:w-full lg:h-auto menu">  
      <li>
        <a href="#proyectos" class="link" id="link-proyectos">
          <span class="bar hidden lg:block"></span>
          <span class="tracking-widest">Proyectos</span>
        </a>
      </li>
      <li>
      <a href="#desarrollador" class="link borderLink" id="link-desarrollador">
        <span class="bar hidden lg:block"></span>
        <span class="tracking-widest">Sobre Mi</span>
        </a>
      </li>
      <li>
        <a href="#contacto" class="link" id="link-contacto">
          <span class="bar hidden lg:block"></span>
          <span class="tracking-widest">Contacto</span>
        </a>
      </li>
    </ul>
    <!-- RESUMEN BTN -->
    <div class="hidden lg:block">
      <a href="/CV MARCOS ALVAREZ MEDERO.pdf" class="btn px-6 py-4 rounded-md">Resumen</a>
    </div>
<!-- SOCIAL LINKS -->
    <ul class="text-3xl flex justify-center items-center lg:mb-0 mb-2 lg:pt-0 pt-4 boderSocial">
      <a aria-label="Github" target="_blank" rel="noopener noreferrer" href="https://github.com/Marcos-Alvarez2004" class="p-4 social"><i class='bx bxl-github'></i></a>
      <a aria-label="LinkedIn" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/marcosalvarezmedero?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="p-4 social"><i class='bx bxl-linkedin-square'></i></i></a>
    </ul>
  </nav>
</header>

<script>
  // VARIABLES DEL MENU GENERAL
  const navigationLinks = document.querySelectorAll('.menu a[href^="#"]');
  // VARIABLES DEL MENU RESPONSIVE
  const menuOpenIcon = document.getElementById('menuOpenIcon');
  const closeMenuIcon = document.getElementById('closeMenuIcon');
  const menuReponsive = document.getElementById('menuReponsive');

  const html = document.querySelector("html") as HTMLElement;
  
  // ABRIR EL MENÚ RESPONSIVE
  menuOpenIcon?.addEventListener('click', () => {
    menuReponsive?.classList.add('menuOpen');
  });
  
  // CERRAR EL MENÚ RESPONSIVE CON X
  closeMenuIcon?.addEventListener('click', () => {
    menuReponsive?.classList.remove('menuOpen');
  });


navigationLinks.forEach((link : any)=> {
  // CERRAR MENU RESPONSIVE AL DAR CLICK EN EL LINK
  link.addEventListener("click", () => {
    menuReponsive?.classList.remove("menuOpen");
    html.style.scrollBehavior = "smooth";
    setTimeout(() => {
      html.style.scrollBehavior = "auto";
    }, 0)
  })
})

document.addEventListener("DOMContentLoaded", ()=> {
  const sections = document.querySelectorAll("section");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const link = document.querySelector(`#link-${entry.target.id}`);
      if (entry.isIntersecting) {
        document.querySelector(".menu a.active")?.classList.remove("active")
        link?.classList.add("active")
      }
    });
  }, {
    rootMargin: "-30% 0% -70% 0%"
  });
  
  sections.forEach((section) => observer.observe(section))
});
</script>

<style>
/* GENERAL */
header {
  padding: 1rem;
  transition: background .2s;
}

h4 {
  color: var(--color-gray);
}

button {
  background: var(--bg-btn-theme-mode);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: color .2s ease;
}

.logo {
  color: var(--color-primary);
  background-color: var(--bg-btn-theme-mode);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--background-hover-btn);
  color: var(--color-hover-btn);
}

/* BOX SHADOW HEADER */
.boxShadow {
  box-shadow: 0 .3rem 1.5rem var(--bg-gray);
  transition: all .2s ease;
}


/* LINKS */
.link {
  color: var(--color-gray);
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  font-style: italic;
  font-weight: 500;
  transition: color .2s ease;
}

.bar {
  height: .1rem;
  width: 2rem;
  margin-right: 1rem;
  background-color: var(--color-primary);
  opacity: .4;
  transition: width .2s ease;
}

.link:hover .bar {
  width: 4rem;
  opacity: 1;
}
/* LINK HOVER */
.link:hover span {
  opacity: 1;
}

.link:hover {
  color: var(--color-primary);
}
/* ACTIVE LINK */
.active {
  color: var(--color-primary);
}

.active span {
  color: var(--color-primary);
  opacity: 1;
}

.link.active .bar {
  width: 4rem;
  background-color: var(--color-primary);
  opacity: 1;
}
/* SOCIAL */
.social i {
  transition: all .2s ease;
  color: var(--color-gray);
}
/* SOCIAL HOVER */
.social:hover i {
  color: var(--color-primary);
  opacity: 1;
}

.social:hover i {
  transform: translate(0, -1rem);
  transition: all 100ms cubic-bezier(0.4,0,0.2,1);
}
/* MEDIA QUERY */
@media (width < 64rem) {
  header {
    background-color: var(--bg-primary);
  }

  nav {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  visibility: hidden;
  transition: all .2s ease;
  padding: 1rem;
  overflow-y: auto;
  }
  /* BORDER RESPONSIVE */
  nav .borderDiv {
    border-bottom: 1px solid var(--color-primary);
    }

  nav .boderSocial {
    border-top: 1px solid var(--color-primary);
    }

  .link {
    display: block;
    padding: 2rem 0;
  }

  .borderLink {
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    } 
  /* HOVER RESPONSIVE */
  .link:hover {
      background-color: var(--bg-gray);
      opacity: 1;
    }
  /* ABRIR MENU RESPONSIVE */
  .menuOpen {
    transform: translateX(0);
    visibility: visible;
    }
}

</style>