
<header aria-labelledby="menuIcon" class="fixed z-50 w-full lg:h-full lg:w-auto flex lg:flex-col justify-between items-center">
  <button class="lg:hidden text-2xl" id="menuOpenIcon"><i class="bx bx-menu"></i></button>
  <h1 class="lg:hidden">Marcos Alvarez</h1>
  <nav id="menuReponsive" class="flex flex-col justify-between items-center h-full">
    <div class="flex justify-between items-center borderDiv pb-4">
      <div>
        <h1 aria-labelledby="Marcos" class="text-2xl italic">Marcos Alvarez</h1>
        <h4 class="text-sm font-medium">Full-Stack Developer</h4>
      </div>
      <button class="lg:hidden text-3xl" aria-labelledby="Cerrar Menu" id="closeMenuIcon"><i class="bx bx-x"></i></button>
    </div>
   
     <button class="dark-mode" aria-label="Activar modo oscuro"><i class='bx bx-moon p-4 cursor-pointer'></i></button>
      <button class="light-mode" aria-label="Activar modo blanco"><i class='bx bx-sun p-4 cursor-pointer'></i></button>
 
    <ul class="h-full flex flex-col justify-center text-center lg:h-auto">  
     <a href="#" class="link active text-xl py-8 w-full"><span class="opacity-50 tracking-widest">Proyectos</span></a>
     <a href="#about" class="link text-xl borderLink py-8 w-full"><span class="opacity-50 tracking-widest">Sobre Mi</span></a>
     <a href="#contact" class="link text-xl w-full py-8"><span class="opacity-50 tracking-widest">Contacto</span></a>
      </ul>
     <ul class="text-2xl flex justify-center items-center lg:mb-0 mb-2 lg:pt-0 pt-4 boderSocial">
      <a href="#" class="p-4 social opacity-80"><i class='bx bxl-github'></i></a>
      <a href="#" class="p-4 social opacity-80"><i class='bx bxl-linkedin-square'></i></a>
      <a href="#" class="p-4 social opacity-80"><i class='bx bxl-gmail'></i></a>
     </ul>
  </nav>

</header>

<script>
// VARIABLES DEL MENU RESPONSIVE
const menuOpenIcon = document.getElementById('menuOpenIcon');
const closeMenuIcon = document.getElementById('closeMenuIcon');
const menuReponsive = document.getElementById('menuReponsive');

// ABRIR EL MENÚ RESPONSIVE
menuOpenIcon?.addEventListener('click', () => {
  menuReponsive?.classList.add('menuOpen');
});

// CERRAR EL MENÚ RESPONSIVE
closeMenuIcon?.addEventListener('click', () => {
  menuReponsive?.classList.remove('menuOpen');
});

// VARIABLES THEME CHANGES
const darkBtnMode = document.querySelector(".dark-mode");
const lightBtnMode = document.querySelector(".light-mode");
			
darkBtnMode?.addEventListener("click", setLightMode)
lightBtnMode?.addEventListener("click", setDarkMode)
		
function setDarkMode() {
	setUserTheme("dark");
}
		
function setLightMode() {
	setUserTheme("light")
}
		
// LOCALSTORAGE THEME
const userTheme = localStorage.getItem("theme")
const darkQuery = window.matchMedia("(prefers-color-theme): light")
    
if (userTheme === "light" || (!userTheme && darkQuery.matches)) {
  setTheme("light")
}
    
darkQuery.addEventListener("change", function (e) {
  if (!localStorage.getItem("theme"))
  setTheme(e.matches ? "light" : "dark")
  }
)
    
function setTheme(newTheme: any) {
  document.documentElement.setAttribute("data-theme", newTheme)
}
    
function setUserTheme(newTheme: any) {
  document.documentElement.setAttribute("data-theme", newTheme)
  localStorage.setItem("theme", newTheme)
}
</script>

<style>
header {
  background-color: var(--bg-primary);
  padding: 1rem;
}

h4 {
  opacity: .3;
}

.dark-mode, .light-mode {
  background-color: transparent;
}

@media (width < 1024px) {
  nav {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  visibility: hidden;
  transition: all .2s ease;
  padding: 1rem;
  overflow-y: auto;
}

nav .borderDiv {
  border-bottom: 1px solid var(--color-primary);
}

nav .boderSocial {
  border-top: 1px solid var(--color-primary);
}

button {
  background-color: transparent;
  color: var(--color-primary);
}

.link:hover {
    background-color: var(--bg-gray);
    opacity: 1;
  }

.borderLink {
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
} 

/* ABRIR MENU */
.menuOpen {
  transform: translateX(0);
  visibility: visible;
}
}
  
  /* BTNS CHANGE THEME */
  .bx-moon:hover, .bx-sun:hover {
    color: var(--color-primary);
  }
  /* LINKS */
  .bar {
    background-color: var(--color-primary);
    opacity: .4;
  }

  .link:hover span {
  opacity: 1;
}

  a:hover .bar {
    width: 4rem;
    background-color: var(--color-primary);
    opacity: 1;
  }

  .link:hover {
    color: var(--color-primary);
    opacity: 1;
  }

  .active {
    color: var(--color-primary);
    opacity: 1;
  }

  .active span {
    color: var(--color-primary);
    opacity: 1;
  }

  a.active .bar {
    width: 4rem;
    background-color: var(--color-primary);
    opacity: 1;
  }

  /* SOCIAL */
  .social:hover i {
    color: var(--color-primary);
    opacity: 1;
  }

  .social:hover li {
    transform: translate(0, -1rem);
    transition: all 100ms cubic-bezier(0.4,0,0.2,1);
  }

</style>