<footer class="w-full text-center p-4">
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/Marcos-Alvarez2004/Portafolio_v2.git" class="hover:underline">Diseñado y creado por Marcos Alvarez.</a>
</footer>

<style>
  a {
    color: var(--color-primary);
  }
</style>