---
import TitleSections from "@/components/TitleSections.astro"
---

<section id="about">
  <TitleSections title_section="Sobre Mí" />
  <div class="bg-red-200 w-64 h-64 rounded-full">
    <div class=" w-full h-full text-center rounded-full">Foto</div>
  </div>
  <h2 class="my-8">Esta es mi historia</h2>
  <p class="lg:w-1/2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam omnis sunt ea? Accusantium iusto, ut amet porro odit quos, id ad voluptas explicabo ipsa laudantium sunt ducimus quod soluta, vero illo doloremque. Molestias soluta ipsam aliquam enim veniam sit debitis, consequuntur laudantium quos voluptatem veritatis quod accusantium ducimus beatae cum natus nostrum maiores fugit, maxime est officia. Quo, deleniti numquam?</p>
</section>