---
import TitleSections from "@/components/TitleSections.astro"
---

<section id="contact" class="padd">
  <TitleSections title_section="Contacto" />
  <div class="flex flex-col w-full form rounded-md">
    <form class="flex flex-col gap-4 justify-center gap-y-8">
      <h2 class="text-2xl text-l">Gracias por ver!</h2>
      <p>Si deseas enviar un mensaje a mi correo <b class="underline">maaarcosaaavarez13@gmail.com</b><br>
      También puedes rellenar las casillas o escribirme por mis redes sociales!
      </p>
      <div class="input-group w-full">
        <input required type="text" class="input">
        <label class="user-label">Nombre</label>
      </div>
      <div class="input-group w-full">
        <input required type="text" class="input">
        <label class="user-label">Gmail</label>
      </div>
        <div class="input-group w-full mt-4">
          <textarea required class="w-full input bg-transparent rounded min-h-56 resize-none" maxlength="500"></textarea>
        <label class="user-label">Mensaje</label>
        </div>
        
      <div class="flex flex-col gap-y-8 lg:flex-row lg:gap-y-0 justify-center items-center">
        <div class="flex justify-center items-center flex-col gap-4">
          <h3 class="text-md underline">Redes sociales:</h3>
          <ul class="flex text-3xl">
            <a href="#">
              <li class="cursor-pointer hoverColor">
                <i class='bx bxl-github opacity-60 px-4'></i>
              </li>
            </a>
            <a href="#">
              <li class="cursor-pointer hoverColor">
                <i class='bx bxl-linkedin-square opacity-60 px-4'></i>
              </li>
            </a>
            <a href="#">
              <li class="cursor-pointer hoverColor">
                <i class='bx bxl-gmail opacity-60 px-4'></i>
              </li>
            </a>
          </ul>
        </div>   
            <button class="py-4 text-center rounded-md w-full lg:w-1/2 lg:ml-auto" type="submit">
              Enviar 
            </button>
      </div>
    </form>
  </div>
</section>

<style>
.form {
  padding: 1rem;
}

button:hover {
  background-color: var(--background-hover-btn);
  color: var(--color-hover-btn);
}

/* INPUT */
.input-group {
  position: relative;
}

span {
  color: var(--color-gray);
}

b, h3, h2 {
  color: var(--color-primary);
}

.input {
  border: var(--border-secondary);
  width: 100%;
  border-radius: .25rem;
  background: none;
  padding: 1rem;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
  position: absolute;
  left: .8rem;
  color: var(--color-general);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, .input:valid {
  outline: none;
  border: .1rem solid var(--color-primary);
}

.input:focus ~ label, .input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--bg-primary);
  padding: 0 .5rem;
  color: var(--color-primary);
}

.hoverColor:hover i {
  opacity: 1;
  color: var(--color-primary);
}
</style>