---
import TitleSections from "@/components/TitleSections.astro"
---

<section id="contact">
  <TitleSections title_section="Contacto" />
  <div class="flex flex-col justify-center items-center p-8 rounded-sm">
    <form class="flex flex-col gap-4 justify-center items-center">
     <div class="flex flex-col md:flex-row gap-4 w-full">
      <div class="input-group w-full">
        <input required type="text" class="input">
        <label class="user-label">Nombre</label>
      </div>
      <div class="input-group w-full">
        <input required type="email" class="input">
        <label class="user-label">Gmail</label>
      </div>
      </div>
        <div class="input-group w-full mt-8">
          <textarea required class="w-full input bg-transparent rounded p-4 min-h-56 resize-none" maxlength="500"></textarea>
        <label class="user-label">Mensaje</label>
        </div>
      <button class="px-20 py-4 text-center rounded-md my-8 ml-auto" type="submit">Enviar</button>
    </form>
  </div>
</section>

<style>
form {
  border: var(--border-primary);
  padding: 2rem;
  border-radius: 0.125rem;
}

/* INPUT */
.input-group {
  position: relative;
}

.input {
  border: var(--border-secondary);
  width: 100%;
  border-radius: .25rem;
  background: none;
  padding: 1rem;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
  position: absolute;
  left: .8rem;
  color: var(--color-general);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus {
  outline: none;
  border: .1rem solid var(--color-primary);
}

.input:focus ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--bg-primary);
  padding: 0 .5rem;
  color: var(--color-primary);
}
</style>