---
import TitleSections from "@/components/TitleSections.astro"
---

<section id="contact" class="padd">
  <TitleSections title_section="Contacto" />
  <div class="flex flex-col w-full md:w-3/4 form rounded-md">
    <form class="flex flex-col gap-4 justify-center items-center gap-y-8">

      <div class="flex justify-center items-center flex-col gap-4">
        <h3 class="text-sm">Contacto por redes sociales:</h3>
        <ul class="flex text-2xl">
          <a href="#" class="social">
            <li class="cursor-pointer hoverColor">
              <i class='bx bxl-github opacity-60 px-4'></i>
            </li>
          </a>
          <a href="#" class="social">
            <li class="cursor-pointer hoverColor">
              <i class='bx bxl-linkedin-square opacity-60 px-4'></i>
            </li>
          </a>
          <a href="#" class="social">
            <li class="cursor-pointer hoverColor">
              <i class='bx bxl-gmail opacity-60 px-4'></i>
            </li>
          </a>
        </ul>
      </div>
     <span>O</span>
      <h3 class="text-sm">Contacto por formulario:</h3>
      <div class="input-group w-full">
        <input required type="text" class="input">
        <label class="user-label">Nombre</label>
      </div>
      <div class="input-group w-full">
        <input required type="text" class="input">
        <label class="user-label">Gmail</label>
      </div>
        <div class="input-group w-full mt-4">
          <textarea required class="w-full input bg-transparent rounded min-h-56 resize-none" maxlength="500"></textarea>
        <label class="user-label">Mensaje</label>
        </div>   
          <button class="px-20 py-4 text-center rounded-md w-full lg:w-auto lg:ml-auto" type="submit">Enviar</button>
    
    </form>
  </div>
</section>

<style>
.form {
  border: var(--border-primary);
  padding: 1rem;
}

/* INPUT */
.input-group {
  position: relative;
}

span {
  color: var(--color-gray);
}

.input {
  border: var(--border-secondary);
  width: 100%;
  border-radius: .25rem;
  background: none;
  padding: 1rem;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
  position: absolute;
  left: .8rem;
  color: var(--color-general);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, .input:valid {
  outline: none;
  border: .1rem solid var(--color-primary);
}

.input:focus ~ label, .input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--bg-primary);
  padding: 0 .5rem;
  color: var(--color-primary);
}

.hoverColor:hover i {
  opacity: 1;
  color: var(--color-primary);
}
</style>