---
import TitleSections from "@/components/TitleSections.astro"
---

<section id="contact">
  <TitleSections title_section="Contacto" />
  <div class="flex flex-col justify-center items-center border border-color-dark p-8 rounded-sm">
    <form class="flex flex-col gap-4 justify-center items-center">
     <div class="flex flex-col md:flex-row gap-4 w-full">
      <div class="input-group w-full">
        <input required type="text" autocomplete="off" class="input">
        <label class="user-label">Nombre</label>
      </div>
      <div class="input-group w-full">
        <input required type="email" autocomplete="off" class="input">
        <label class="user-label">Gmail</label>
      </div>
      </div>
        <textarea class="w-full bg-transparent border border-[#333333] rounded p-4 min-h-56 resize-none" maxlength="500" placeholder="Mensaje"></textarea>
      <button class="bg-color-dark px-20 py-4 text-center rounded-md my-8 ml-auto" type="submit">Enviar</button>
    </form>
  </div>
</section>

<style>
::placeholder {
  color: #999999;
}

/* INPUT */
.input-group {
  position: relative;
}

.input {
  border: solid .1rem #333333;
  
  width: 100%;
  border-radius: .25rem;
  background: none;
  padding: 1rem;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
  position: absolute;
  left: .8rem;
  color: #999999;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid, textarea:focus {
  outline: none;
  border: .1rem solid var(--color-dark);
}

.input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
 background-color: #111111;
  padding: 0 .5rem;
  color: var(--color-dark);
}
</style>