---
  import HeroImg from "src/components/hero/HeroImg.astro"
---

<section>
  <h2>Hey soy Marcos Alvarez</h2>
  <h1>FULL-STACK</h1>
  <p>+2 años en desarrollo de aplicaciones web dinamicas</p>
  <HeroImg />
</section>