---
import CardProject from "@/components/Projects/CardProject.astro"
import TitleSections from "@/components/TitleSections.astro"
---

<section id="projects">
  <TitleSections title_section="Proyectos" />
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <CardProject />
    <CardProject />
    <CardProject />
    <CardProject />
    <CardProject />
    <CardProject />
  </div>
</section>