---
interface Props {
	title: string;
}

const { title } = Astro.props;

// FONT OPEN-SANS weights 300-800
import '@fontsource-variable/open-sans/wdth.css';
---

<!doctype html>
<html lang="es" data-theme="dark">
	<head>
		<!-- METADATOS -->
		<meta charset="UTF-8" />
		<meta name="autor" content="Marcos Alvarez Medero">
		<meta name="descripcion" content="Portafolio linkdIn: " />
		<meta name="viewport" content="width=device-width" />
		<!-- BOXICON -->
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<!-- FAVICON -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- TITLE -->
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<!-- GLOBAL STYLE -->
<style is:global>
	:root {
		--color-primary: #892cdc;
		--bg-primary: #191919;
		--color-general: #f5f5f5;
		--border-primary: 1px solid var(--color-primary);
		--border-secondary: 1px solid #333333;
		--color-gray: #333333;
		--bg-gray: #131313;
		--bg-btn-theme-mode: #252526;
	}

	:root[data-theme="light"] {
		--color-primary: #bc6ff1;
		--bg-primary: #f5f5f5;
		--color-general: #111111;
		--border-primary: 1px solid var(--color-primary);
		--border-secondary: 1px solid #999999;
		--color-gray: #999999;
		--bg-gray: #cfcfcf;
		--bg-btn-theme-mode: #e5e5e5;
	}
	
	:root[data-theme="light"] .dark-mode {
		display: none;
	} 

	:root[data-theme="dark"] .light-mode {
		display: none;
	}
	
	.border-general {
		border: 1px solid var(--color-primary);
	}
	
	html {
		font-family: 'Open Sans Variable', sans-serif;
		background: var(--bg-primary);
		color: var(--color-general);
		scroll-behavior: smooth;
		overflow-y: auto;
		overflow-x: hidden;
		transition: background .2s ease, color .2s ease;
	}

	h1 {
		color: var(--color-primary);
		transition: color .2s ease;
	}

	button {
		color: var(--color-general);
		background-color: var(--color-primary);
		font-weight: 700;
		transition: background .2s ease, color .2s ease;
	}

	section {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content:  center;
		align-items: center;
	}

	.padd {
		padding: 4rem 0;
	}

	@media (width >= 1024px) {
		.padd {
			padding: 0 0 8rem 0;
		}
	}
</style>
