---
interface Props {
	title: string;
}

const { title } = Astro.props;

// FONT OPEN-SANS weights 300-800
import '@fontsource-variable/open-sans/wdth.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="autor" content="Marcos Alvarez Medero">
		<meta name="descripcion" content="Portafolio linkdIn: " />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	:root {
		--color-dark: #892cdc;
		--color-light: #bc6ff1;
	}

	html {
		font-family: 'Open Sans Variable', sans-serif;
		background: #111111;
		color: #f5f5f5;
	}

</style>
